{% extends 'base.html.twig' %}

{% block title %}Bus ou covoiturage? Voyagez moins cher | BlaBlaCar
{% endblock %}

{% block body %}
	<main class="" id="MainContent" tabindex="-1">
		<article class="">
			<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" aria-hidden="true">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g transform="translate(-337.000000, -417.000000)">
						<g transform="translate(336.000000, 416.000000)">
							<g>
								<path d="M12,22.0652174 C6.44113393,22.0652174 1.93478261,17.5588661 1.93478261,12 C1.93478261,6.44113393 6.44113393,1.93478261 12,1.93478261 C17.5588661,1.93478261 22.0652174,6.44113393 22.0652174,12 C22.0652174,17.5588661 17.5588661,22.0652174 12,22.0652174 Z M12,21.0652174 C17.0065813,21.0652174 21.0652174,17.0065813 21.0652174,12 C21.0652174,6.99341868 17.0065813,2.93478261 12,2.93478261 C6.99341868,2.93478261 2.93478261,6.99341868 2.93478261,12 C2.93478261,17.0065813 6.99341868,21.0652174 12,21.0652174 Z" fill="#708C91" fill-rule="nonzero"></path>
								<path d="M11.5,7.65217391 C11.5,7.37603154 11.7238576,7.15217391 12,7.15217391 C12.2761424,7.15217391 12.5,7.37603154 12.5,7.65217391 L12.5,12.8695652 C12.5,13.1457076 12.2761424,13.3695652 12,13.3695652 C11.7238576,13.3695652 11.5,13.1457076 11.5,12.8695652 L11.5,7.65217391 Z" fill="#708C91" fill-rule="nonzero"></path>
								<circle fill="#708C91" fill-rule="nonzero" cx="12" cy="16.3478261" r="1"></circle>
							</g>
						</g>
					</g>
				</g>
			</svg>
			<a href="#">Centre d&#x27;aide</a>.
		</article>
		<h1 class="">Un vaste choix de trajets à petits prix</h1>
		<form action="" novalidate="" class="" role="search" method="post">
			<label class="" for="search-form-autocomplete-from">
				<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" aria-hidden="false">
					<title>Départ</title>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#708C91"></path>
				</svg>
			</label><input type="search" placeholder="Départ" name="from" id="search-form-autocomplete-from" aria-haspopup="listbox" aria-controls="listbox-from" aria-expanded="false" role="combobox" value="" autocomplete="off" autocorrect="off"/><div class="kirk-searchForm-invert">
				<button type="button" class="" disabled="" data-testid="invert-btn">
					<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="" width="18" height="18" aria-hidden="true">
						<g fill="#00AFF5" fill-rule="nonzero">
							<path d="M7.786 16.762a.5.5 0 0 1-1 0V2.476a.5.5 0 1 1 1 0v14.286z"></path>
							<path d="M3.83 6.64a.5.5 0 0 1-.707-.708l3.81-3.81a.5.5 0 0 1 .706 0l3.81 3.81a.5.5 0 0 1-.707.707L7.286 3.183 3.83 6.64zm12.48-.354a.5.5 0 1 1 1 0v15.238a.5.5 0 1 1-1 0V6.286z"></path>
							<path d="M20.265 17.36a.5.5 0 0 1 .708.708l-3.81 3.81a.5.5 0 0 1-.707 0l-3.81-3.81a.5.5 0 0 1 .708-.707l3.456 3.456 3.455-3.456z"></path>
						</g>
					</svg>
				</button>
				<label class="" for="search-form-autocomplete-to">
					<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" aria-hidden="false">
						<title>Destination</title>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#708C91"></path>
					</svg>
				</label><input type="search" placeholder="Destination" name="to" id="search-form-autocomplete-to" aria-haspopup="listbox" aria-controls="listbox-to" aria-expanded="false" role="combobox" value="" autocomplete="off" autocorrect="off"/></div>
			<button type="button" class="">
				<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" aria-hidden="true">
					<g fill="none" fill-rule="evenodd">
						<rect x="3.5" y="3.5" width="17" height="17" rx="3.5" stroke="#708C91"></rect>
						<path d="M3.5 7C3.5 5.067 5.067 3.5 7 3.5H17C18.933 3.5 20.5 5.067 20.5 7V8.5H3.5V7Z" stroke="#708C91"></path>
						<rect x="6" y="11" width="2" height="2" rx="1" fill="#708C91"></rect>
						<rect x="6" y="15" width="2" height="2" rx="1" fill="#708C91"></rect>
						<rect x="11" y="11" width="2" height="2" rx="1" fill="#708C91"></rect>
						<rect x="11" y="15" width="2" height="2" rx="1" fill="#708C91"></rect>
						<rect x="16" y="11" width="2" height="2" rx="1" fill="#708C91"></rect>
					</g>
				</svg>
				<span class="">Aujourd’hui</span>
			</button>
			<button type="button" class="" title="Nombre de places que vous souhaitez réserver">
				<svg viewbox="0 0 19 20" xmlns="http://www.w3.org/2000/svg" class="" width="18" height="18" aria-hidden="true">
					<g fill="none">
						<path d="M9.583 9.167a3.75 3.75 0 0 0 3.75-3.75v-.834a3.75 3.75 0 0 0-7.5 0v.834a3.75 3.75 0 0 0 3.75 3.75zm0 .833A4.584 4.584 0 0 1 5 5.417v-.834a4.584 4.584 0 0 1 9.167 0v.834A4.584 4.584 0 0 1 9.583 10zM18.333 17.007v1.743c0 .23-.186.417-.416.417H1.25a.417.417 0 0 1-.417-.417v-1.743a3.742 3.742 0 0 1 2.752-3.616c2.033-.554 4.08-.891 5.998-.891 1.92 0 3.966.337 5.998.891a3.742 3.742 0 0 1 2.752 3.616zm-.833 0a2.908 2.908 0 0 0-2.138-2.812c-1.967-.537-3.944-.862-5.779-.862-1.834 0-3.811.325-5.779.862a2.908 2.908 0 0 0-2.137 2.812v1.326H17.5v-1.326z" fill="#708C91"></path>
					</g>
				</svg>
			</button>
			<button type="submit" class="" data-testid="kirk-search-form-submit-buttom">
				<span class="">Rechercher</span>
			</button>
		</form>
		{% include "home/home-article.html.twig" %}
	</main>
{% endblock %}
